[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ext/tiny-process-library"]
	path = ext/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library.git
